* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color-white: white;
  --text-color-navy: #2e2f42;
  --text-color-slate: #434455;
  --text-color-cloud: #f4f4fd;
  --text-color-logo: #4d5ae5;
  --background-color: #2e2f42;
  --button-hover-color: #404bbf;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font-family);
  background-color: var(--main-color-white);
  color: var(--text-color-slate);
  margin: 0;
  padding: 0;
}

/*HEADER*/

.header-container {
  width: 1200px;
  height: 72px;
  border-bottom: 1px;
  border-bottom: 1px solid #ffffff;
  display: flex;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 60px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 44px;
  height: auto;
  padding: 18px 0 18px 18px;
  margin-right: 76px;
}

.logo-info {
  color: var(--NAVY-BLUE, #2e2f42);
  width: 71px;
  padding: 18px 18px 18px 0;
}

.link {
  text-decoration: none;
  padding: 0;
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.list-link {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.link-list:hover,
.list-link:focus {
  color: var(--brand-color);
}

/*address-container*/

.address-container {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title-third-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.nav-meniu {
  display: flex;
  gap: 40px;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

/*Main*/

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.title-main-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraph-main-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.lgo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-items: center;
}

.contact-list {
  font-style: normal;
  list-style: none;
}

/*A 4 a sectiune*/

.forth-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-forth-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.background-special {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  min-width: 264px;
  gap: 24px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* .container-forth {
  padding-top: 32px;
  padding-bottom: 32px;
} */

.title-second-section {
  margin-bottom: 8px;
  text-align: center;
}

.paragraph-second-section {
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/pozahero.jpg);

  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-class {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-class:hover {
  background-color: #404bbf;
}

.button-class:focus {
  background-color: #404bbf;
}

.section-third {
  padding-bottom: 120px;
}

.second-section-list {
  width: 100%;
  min-width: 264px;
  gap: 24px;
}

.second-section {
  padding: 120px 0;
}

.second-section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.fist-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.first-paragraph-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-third-section {
  margin-bottom: 72px;
}

.button-link:hover {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.third-section-list {
  min-width: 360px;
  width: 100%;
  gap: 24px;
}

.button-link:focus {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

img {
  display: block;
}

.paragraph-second-section-forth {
  color: var(--SLATE, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.logo-link:hover {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  border: 2px solid black;
}

.button-first-section {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  color: var(--WHITE, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  margin-left: auto;
  margin-right: auto;
}

.button-first-section:hover {
  background-color: #404bbf;
}

.button-first-section:focus {
  background-color: #404bbf;
}
.list-ul {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*Portfolio*/

/*Prima lista */

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-first-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  width: 496px;

  margin-left: auto;
  margin-right: auto;
}

.list-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.list-two-main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  border: 5px solid green;
}

.one {
  width: calc((100%-48px) / 3);
  border: 2px dotted black;
}

.logo-footer-link {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
  margin-left: 156px;
}

.footer-class {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
  margin: 0;

  border: 2px solid red;
}

.logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;

  text-decoration: none;
  margin-left: 156px;
}

.span-footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.paragraph-social-media {
  color: var(--WHITE, #fff);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/*  CUSTOMERS- SECTION*/

.five-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-five-section {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.customers-six-cards {
  display: flex;
  gap: 24px;
  height: 88px;
}

.customers-list-six-card {
  fill: #42a5f5;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--list-color);
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--text-color-navy);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.nav-link:hover .nav-link:focus {
  color: var(--button-hover-color);
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.logo-link {
  color: var(--text-color-logo);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-second-word {
  color: var(--text-color-navy);
}

.address {
  color: var(--text-color-slate);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address:hover .address:focus {
  color: var(--text-color-cloud);
}

.icons-customers {
  width: 104px;
  height: 56px;
  flex-shrink: 0;
  margin-left: 30px;
}

.list-customers {
  list-style: none;
  padding: 24px;
  display: flex;

  gap: 24px;

  padding-right: 156px;
  height: 88px;
}

.icons-list {
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
}

.icons-list-forth {
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
}

/*Forth Section*/

.forth-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.forth-icons {
  height: 40px;
  width: 40px;
  list-style-type: none;
}

.link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: Center;
}

.link-icons:hover {
  background-color: #404bbf;
}

.link-icons:focus {
  background-color: #404bbf;
}

.svg-class {
  fill: #f4f4fd;
}

/*Customers-section*/

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.link-customers-five-section {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

.link-customers-five-section:hover {
  border-color: #404bbf;
}

.link-customers-five-section:focus {
  color: #404bbf;
}

/*FOOTER*/

.container-footer {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}

.p-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.listaa {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-footer:hover {
  background-color: #31d0aa;
}

.link-footer:focus {
  background-color: #31d0aa;
}

.logo-and-paragraph {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 120px;
}

.our-team-icons {
  fill: #f4f4fd;
}

.last-icons {
  fill: #f4f4f4fd;
}

/* 
În clasa link-ului din primul element al listei a fost atribuit stilul display: block pentru a transforma link-ul într-un element de tip bloc



La hover, în clasa link-ului a fost atribuit stilul box-shadow: cu valorile 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); pentru a specifica umbra elementului la trecerea cu mouse-ul peste link



La focalizare, în clasa link-ului a fost atribuit stilul box-shadow: cu valorile 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); pentru a specifica umbra elementului la click pe link */

.link-one {
  display: block;
}

.link-one:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-one {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
